body{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 70px 0px 0px 0px;
  height: 100%;
  	font-family: 'New Rocker', cursive;
}
p{
  color: white;
}
h1,h2,h3{
  color:white;
}
footer{
    	padding: 20px 0 20px;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	text-align: center;
    }
.pic{
  width:200px;
  height:auto;
}
a{
  text-decoration: none;
}
a:hover{
  background-color: orange;
}
nav{
	font-family: 'New Rocker', cursive;
	background-color: rgba(135,135,135,0.9);
	position: fixed;
	top: 0px;
	width: 100vw;
	list-style-type: none;
  padding-top: 20px;
	padding-bottom:20px;
	z-index:1;

}
nav a{
  margin-right: 50px;
}
#fotballpuben, #heidis, #lille, #vaskeriet, #bryggen{
    margin: 0 auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}
#map {
    height: 600px;
    width: 50%;
    }
