body{
  margin: 0;
  padding: 140px 0px 0px 0px;
  height: 100%;
}

#map {
    height: 600px;
    width: 50%;
    }

footer{
    	padding: 20px 0 20px;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	text-align: center;
    }

#fotballpuben, #heidis, #lille, #vaskeriet, #bryggen{
    margin: 0 auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}
.pic{
  width:200px;
  height:auto;
}
a{
  text-decoration: none;
}
a:hover{
  background-color: orange;
}
nav{
	font-family: 'New Rocker', cursive;
	background-color: rgba(135,135,135,0.9);
	position: fixed;
	top: 0px;
	width: 100vw;
	list-style-type: none;
	margin-left: 0px;
	padding-bottom: 0px;
	padding-right: 0;
	padding-left: 0;
	z-index:1;
}
ul{
	overflow: hidden;
}
li{
	display: inline-block;
	float: left;
}
